* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::selection{
    color: white;
    background-color: black;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
    background-color: #F7F7F7;
}
.cursor{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #DCC0B4;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
}
/* Page 1 */
.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 18.5vw 1.5vw 5vw 1.5vw
}

.page1 h1{
    font-family: futura;
    font-size: 15vw;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -5px;
}
.page1 h2{
    font-family: futura;
    font-size: 3vw;
    text-transform: uppercase;
    margin-bottom: 2vw;
}
.second-txt{
    display: flex;
    gap: 4.4vw;
}
.img-container{
    height: 50%;
    width: 100%;
    border-radius: 5px;
    
}
.img-container img{
    /* height: 100%; */
    width: 100%;  
    border-radius: 5px;
    margin-bottom: 10vw;
}
.play{
    padding: 1vw 3.2vw;
    background-color: transparent;
    position: fixed;
    opacity: 0;
    scale: 0;
}
.play img{
    width: 7vw;
    border-radius: 50%;
}

.bottom-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottom-txt p{
    margin-bottom: 1.5vw;
}
.bottom-txt a{
    text-decoration: none;
    color: grey;
    font-family: futura;
    font-size: 0.9vw;
    font-weight: 200;
    letter-spacing: 1.1px;
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
}


/* Page 2 */
.page2{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10vh 1.5vw 6vh 1.5vw;
    position: relative;
}
.topLine{
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.topLine p{
    font-family: futura;
    font-size: 0.9vw;
    letter-spacing: 1.1px;
    font-weight: 100;
    color: grey;
}
hr{
    margin-top: -0.1vw;
}
.elemBox{
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.2vw;
    gap: 1vw;
}
.elem{
    height: 100%;
    width: 33%;
    /* background-color: red; */
    display: flex;
    align-items:center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.page2 .elem .dets{
    position: absolute;
    height: 60px;
    width: 80%;
    background-color: #DCC0B4;
    z-index: 9;
    border-radius: 50px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.page2 .elem .dets:hover{
    height: 200px;
}

.page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
}

/* Page3 */
.page3{
    min-height: 120vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.child{
    height: 55vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.child img{
    height: 90%;
}


/* Responsive page 1 and page 2 */
@media (max-width: 600px){
.page1 h1{
    font-family: futura;
    font-size: 15vw;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -2px;
    margin-left: 1vw;
    margin-right: 1vw;
}
.page1{
    min-height: 70vh;
    width: 100%;
    padding: 25vw 1vw 3vw 1vw
}

.img-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container img{
    /* height: 100%; */
    width: 95%;  
    border-radius: 5px;
    margin-bottom: 10vw;
    margin-top: 5vw;
    
}
.bottom-txt h2{
    font-size: 9vw;
    margin-top: 7vw;
}
.bottom-txt p{
    text-align: center;
    width: 50%;
    margin-top: 7vw;
}
.bottom-txt a{
    font-size: 2.5vw;
    margin-top: 4vw;
    margin-bottom: 0px;
}
.page2 .topLine p{
    font-size: 3vw;
    
}


.page2{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5vw 3vw;
    position: relative;
}
.page2  .elemBox{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 1.2vw;
    gap: 3vw;
}
.elem{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    /* display: flex;
    align-items:center;
    justify-content: space-between; */
    overflow: hidden;
    margin-bottom: 3vw;
    border-radius: 5px;
}

.page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
}


}