* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::selection{
    color: white;
    background-color: black;
}
html, body {
    height: 100%;
    width: 100%;
}
.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    
    padding: 18vh 2vw;
}

.page1 h1{
    font-family: futura;
    font-size: 14.7vw;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -5px;
}
.img-container{
    height: 100vh;
    width: 100%;
    
}
.img-container img{
    /* height: 100%; */
    width: 100%;  
}
.play{
    padding: 1vw 3vw;
    background-color: black;
    color: white;
    font-size: 3vw;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}